<% provide(:title, t('.title')) %>
<h1><%=t '.h1' %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>

    <div class="input-prepend">
      <span class="add-on"><%= icon("envelope") %></span>
      <%= text_field_tag :email, "", placeholder: User.human_attribute_name(:email), autofocus: "autofocus" %>
    </div>

    <div class="input-prepend">
      <span class="add-on"><%= icon("key") %></span>
      <%= password_field_tag :password, "", placeholder: User.human_attribute_name(:password) %>
    </div>

      <%= submit_tag t('.signin'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%=t '.new_user' %> <%= link_to t('.signup'), signup_path %></p>
  </div>
</div>
