<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>

    <div class="input-prepend">
      <span class="add-on"><%= icon("envelope") %></span>
      <%= text_field_tag :email, "", placeholder: "E-mail", autofocus: "autofocus" %>
    </div>

    <div class="input-prepend">
      <span class="add-on"><%= icon("key") %></span>
      <%= password_field_tag :password, "", placeholder: "Password" %>
    </div>

      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
