<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="input-prepend">
        <span class="add-on"><%= icon("user") %></span>
        <%= f.text_field :name, autofocus: "autofocus", placeholder: "Name" %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><%= icon("envelope") %></span>
        <%= f.text_field :email, placeholder: "E-mail" %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><%= icon("key") %></span>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div class="input-prepend">
        <span class="add-on"><%= icon("key") %></span>
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
