<% provide(:title, "Battle #{@brand1.name} vs. #{@brand2.name}") %>
<h1><%= @brand1.name %> vs. <%= @brand2.name %></h1>

<div class="brand-container">
  <div class="logotype-container">
    <div class="battle-brands">
      <div class="battle-brand">
        <%= link_to logotype_for(@brand1), "#", class: "battle-action", "data-brand-id" => @brand1.id %>
      </div>
      <div class="battle-brand">
        <%= link_to logotype_for(@brand2), "#", class: "battle-action", "data-brand-id" => @brand2.id %>
      </div>
    </div>
  </div>

  <h2>Which of the brands above do you think is the best?</h2>
  <p>(Click on the corresponding logotype)</p>

  <%= form_for(@battle, remote: true, html: { class: "new_battle" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag "battle[brand1]", @brand1.id %>
    <%= hidden_field_tag "battle[brand2]", @brand2.id %>
    <%= hidden_field_tag "battle[winner]", "" %>

  <% end %>

</div>
