<% provide(:title, "Battle #{@brand1.name} vs. #{@brand2.name}") %>
<h1><%= @brand1.name %> vs. <%= @brand2.name %></h1>

<div class="brand-container">
  <div class="logotype-container">
    <%= logotype_for(@brand1) %>
    vs.
    <%= logotype_for(@brand2) %>
  </div>

  <%= form_for(@battle, html: { class: "new_battle" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag "battle[brand1]", @brand1.id %>
    <%= hidden_field_tag "battle[brand2]", @brand2.id %>
    <%= hidden_field_tag "battle[winner]", "" %>

  <% end %>

</div>
