<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Brand-o-meter", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to icon_label("tag", t('.tag')), tag_path %></li>
          <li><%= link_to icon_label("star", t('.rate')), rate_path %></li>
          <li><%= link_to icon_label("fire", t('.battle')), battle_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=t ('.account') %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><span><%= icon_label("user", current_user.name) %></span></li>
                <li><%= link_to icon_label("cog", t('.settings')), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to icon_label("signout", t('.signout')), signout_path, method: "delete" %></li>
              </ul>
            </li>
            <% if current_user.admin? %>
            <li id="admin-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= icon_label("lock", "Admin") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to icon_label("th-list", "List all brands"), brands_path %></li>
                <li><%= link_to icon_label("plus", "Create new brand"), new_brand_path %></li>
                <li class="divider"></li>
                <li><%= link_to icon_label("user", "List all users"), users_path %></li>
              </ul>
            </li>
            <% end %>
          <% else %>
            <li><%= link_to icon_label("signin", t('.signin')), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
